{% extends "PidevbackBundle::layout.html.twig" %} 

{% block title %}PidevbackBundle:Administrateur:ajout{% endblock %}

{% block body %}
    <h1>Mise à jour d'un evenement</h1>
<form action="" method="post">
    {{form_widget(Form)}}
    <input type="submit" value="Metter à jour "/>
    
</form>
      {% endblock %}
