{% extends "backBundle::layout:html.twig" %}

{% block title %}PidevbackBundle:Administrateur:recherche{% endblock %}

{% block body %}
<h1>Welcome to the Administrateur:recherche page</h1>
{% endblock %}
