{% extends "PidevbackBundle::layout.html.twig" %} 
       {% block body %}
        {# La partie du code sans le template #}
        <h1>Ajout d'une nouvelle catégorie</h1>
        {# Form est le formulaire qu'on a passé dans l'action addAction #}
        <form action="" method="post">
            {{ form_widget(Form) }}
            <input type="submit" value="Ajouter"/>
        </form>
        {#fin de La partie du code #}
       {% endblock %}   



