{% extends "PidevbackBundle::layout.html.twig" %} 

{% block title %}PidevbackBundle:Administrateur:ajout{% endblock %}

{% block body %}
<h1> Ajout d'un nouveau evenement</h1>
<form action="" method="post" enctype="multipart/form-data">
    
    {{form_widget(Form)}}
    <br/><input class="btn btn-primary"  type="submit" value="Envoyer"/>
    
</form>

{% endblock %}




    
