{% extends "PidevbackBundle::layout.html.twig" %} 
{% block body %}
<div class="table-responsive availability-tab">
        <table  id="zoneHoraire" class="table table-bordered" >
            
                        <thead>
            <tr class="active">
                <th></th>
                <th>
                    <span class="hidden-xs">LUN</span>
                    <span class="visible-xs tableday">L</span>
                </th>
                <th>
                    <span class="hidden-xs">MAR</span>
                    <span class="visible-xs tableday">M</span>
                </th>
                <th>
                    <span class="hidden-xs">MER</span>
                    <span class="visible-xs tableday">M</span>
                </th>
                <th>
                    <span class="hidden-xs">JEU</span>
                    <span class="visible-xs tableday">J</span>
                </th>
                <th>
                    <span class="hidden-xs">VEN</span>
                    <span class="visible-xs tableday">V</span>
                </th>
                <th>
                    <span class="hidden-xs">SAM</span>
                    <span class="visible-xs tableday">S</span>
                </th>
                <th>
                    <span class="hidden-xs">DIM</span>
                    <span class="visible-xs tableday">D</span>
                </th>
            </tr>
            </thead>
            <tbody>
                                                                    <tr>
                    <td class="align-left checkMebig active">Avant l&#039;école/crèche</td>
                                            <td class="checkMe" data-day="1" data-time="1"><span></span><center><input class="bottom" type="checkbox" name="lundiA[]"/> </center></td>
                                            <td class="checkMe" data-day="2" data-time="1"><span></span><center><input class="bottom" type="checkbox" name="mardiA"/> </center></td>
                                            <td class="checkMe" data-day="3" data-time="1"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="4" data-time="1"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="5" data-time="1"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="6" data-time="1"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="7" data-time="1"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                    </tr>
                            <tr>
                    <td class="align-left checkMebig active">Matin</td>
                                            <td class="checkMe" data-day="1" data-time="2"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="2" data-time="2"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="3" data-time="2"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="4" data-time="2"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="5" data-time="2"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="6" data-time="2"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="7" data-time="2"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                    </tr>
                            <tr>
                    <td class="align-left checkMebig active">Midi</td>
                                            <td class="checkMe" data-day="1" data-time="3"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="2" data-time="3"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="3" data-time="3"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="4" data-time="3"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="5" data-time="3"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="6" data-time="3"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="7" data-time="3"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                    </tr>
                            <tr>
                    <td class="align-left checkMebig active">Après-Midi</td>
                                            <td class="checkMe" data-day="1" data-time="4"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="2" data-time="4"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="3" data-time="4"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="4" data-time="4"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="5" data-time="4"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="6" data-time="4"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="7" data-time="4"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                    </tr>
                            <tr>
                    <td class="align-left checkMebig active">Après l&#039;école/crèche</td>
                                            <td class="checkMe" data-day="1" data-time="5"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="2" data-time="5"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="3" data-time="5"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="4" data-time="5"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="5" data-time="5"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="6" data-time="5"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="7" data-time="5"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                    </tr>
                            <tr>
                    <td class="align-left checkMebig active">Soirée</td>
                                            <td class="checkMe" data-day="1" data-time="6"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="2" data-time="6"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="3" data-time="6"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="4" data-time="6"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="5" data-time="6"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="6" data-time="6"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="7" data-time="6"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                    </tr>
                            <tr>
                    <td class="align-left checkMebig active">Nuit</td>
                                            <td class="checkMe" data-day="1" data-time="7"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="2" data-time="7"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="3" data-time="7"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="4" data-time="7"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="5" data-time="7"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="6" data-time="7"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                            <td class="checkMe" data-day="7" data-time="7"><span></span><center><input class="bottom" type="checkbox"/> </center></td>
                                    </tr>
                                    </tbody>
        </table>
    <a href="" class="btn btn-default" role="btn"/> Suivant</a>
</form>
    </div>
{% endblock %}