{% extends "PidevFrontBundle::layout.html.twig" %} 

{% block bannerForm %}
{% endblock %}

 
{% block body %}

        <h1>Formulaire de recherche</h1>

        <form action="" method="post">
            Service: <input type="text" name="typeService"/>
            <input type="submit" value="Rechercher"/>
        </form>

        <h1>Liste des services</h1>
        <table class="table-hover" style="color:#000">
            <tr>
               
                <th>Service</th>
                <th>Description</th>
                <th>Catégorie</th>
                <th></th>
                
            </tr>
            {% for s in Services %}
                <tr class="defaut" onclick="SelectLigne(this)">
                   
                    <td>{{s.typeService}}</td>
                    <td>{{s.description}}</td>
                    <td>{{s.idCategorie.nomcategorie}}</td>
                    
                    <td><a role="btn" class="btn btn-default"href="{{path("pidevFront_choisir",{ 'id':s.idservice})}}">Choisir service</a></td>
                </tr>   
            {% endfor %}
        </table>
{% endblock %}